/* ---------------------1 es---------------------- */

.ex-1-square{
    transition: 4s;
}
/* ritorno di 4 secondi */

.ex-1-square:hover{
 background-color: red;
 transition: 2s;
}
/* andata di 2 secondi */

/* ---------------------2 es---------------------- */
.ex-2-square{
    transition: 4s;
}

.ex-2-square:active{
    width: 100%;
}
/* ---------------------3 es---------------------- */

.ex-3-square{
    transition: 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* ---------------------4 es---------------------- */

.ex-4-square{
    transition: 2s;
}

.ex-4-square:hover{
    opacity: 0;
}
/* ---------------------5 es---------------------- */

.ex-5-square{
    transition: 2s;
}

.ex-5-square:hover{
    width: 120px;
    height: 120px;
}
.ex-5-square:active{
    width: 30px;
    height: 30px;
}

/* .ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(.5);
} */
/* ---------------------6 es---------------------- */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* ---------------------7 es---------------------- */

.ex-7-img{
    transition: 2s;
}
.ex-7-img:hover{
    filter: grayscale(1);
}
/* ---------------------8 es---------------------- */

.ex-8-img{
    transition: 1s;
}
.ex-8-img:hover{
    filter: saturate(0.5) invert(0.2);
    transition: 3s;
}

/* ---------------------9 es---------------------- */

.ex-9-img{
    transition: 1s;
}
.ex-9-img:hover{
    filter: opacity(0.3) saturate(0.5);
    border-radius: 10px;
    transform: scale(0.5);
}

.ex-9-img:active{
    filter: brightness(1) saturate(0.5);
    border-radius: 10px;
    transform: scale(2);
}






